@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root{
    --orange: #E35E00;
    --dark_orange: #571F00;
    --secondary_orange: #AA501F;
    --light_orange: #FFC89E;
    --white: #fdfffd;
    --black: #1F1F1F;
    --gray: #161411;
    --light_green: #B9D8A8;
    --green: #02934D;
    --offWhite: rgb(236, 236, 236);
}
body{
    font-family: 'Poppins', sans-serif;
}

@font-face{
    font-family: veldman;
    src: url(/public/veldman.otf)
}
@font-face{
    font-family: sunset;
    src: url(/public/sunset.otf)
}


@layer utilities{
    p{
        @apply
        text-(--primary_black)/60
        text-[clamp(0.875rem,1vw+0.5rem,1rem)]
    }

    span{
        @apply
        text-[clamp(0.875rem,0.8vw+0.5rem,1rem)]
    }

    h1{
        @apply
        text-xl
        lg:text-[clamp(2rem,5vw,4rem)]
    }

    a{
        @apply
        text-(--primary_black)/60
        hover:text-(--primary_black)
        transition-colors
        text-[clamp(0.875rem,1vw+0.5rem,1rem)]
    }

}

@layer components{
    .mainDiv{
        @apply
        mx-auto px-4 md:px-8 
        lg:px-16
        max-w-7xl 2xl:max-w-[1600px]
        h-full
    }
}

